@model IEnumerable<NetCoreWeb.Models.SharePointListViewModel>
@{
    ViewBag.Title = "Mvc.JQuery.DataTables";
}

<div class="row" style="padding-top:5px; padding-bottom:15px;">
    @Html.Partial("ListsTable", Model)
</div>

