@model IEnumerable<NetCoreWeb.Models.SharePointListViewModel>

<table class="table table-striped" id="myTable"></table>
<div style="display:none">
    <div id="dialog-form" title="MONSTER">

        <form>
            <fieldset>
                <div class="form-group">
                    <label for="listTitle">Title</label>
                    <input type="text" name="listTitle" id="listTitle" value="TEST">
                </div>
                <input type="hidden" name="listID" id="listID" />
            </fieldset>
        </form>
    </div>
</div>